# Visual Studio y artefactos de compilación de .NET
.vs/
[Bb]in/
[Oo]bj/
*.pdb
*.exe
*.dll
*.suo
*.user
*.log
*.builds
*.bak
*.ncb
*.opensdf
*.sdf
*.tlog
*.vshost.*
*.vspscc
*.vssscc
*.vspscc
*.vssscc
*.pidb
*.orig
*.userprefs

# Paquetes NuGet
*.nupkg
[Pp]ackages/

# Rider
.idea/

# Mac
.DS_Store

# Unix/Linux
*~
*.log